---
const { testimonial, floatDirection } = Astro.props;

const { title, occupation, age, date } = testimonial.data;

const ageText = age ? ` ${age}` : '';
const occupationText = occupation ? `, ${occupation}` : '';

const dateObject = new Date(date);
const formattedDate = dateObject.toLocaleDateString('cs-CZ', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric',
});
---

<div class="testimonial">
  {date && <p>{formattedDate}</p>}
  <p>
    "{testimonial.body}"
  </p>
  <p
    class=`testimonial-author ${ floatDirection === 'left' ? 'text-float--left' : 'text-float--right'}`
  >
    {`${title}${ageText}${occupationText}`}
  </p>
  <div
    class=`circle ${ floatDirection === 'left' ? 'circle--left' : 'circle--right'}`
  >
  </div>
</div>

<style>
  .testimonial {
    position: relative;
    font-weight: var(--fw-regular);
    background-color: var(--clr-tertiary-400);
    border-radius: 10px;
    padding-inline: 1rem;
    max-width: 30ch;
    justify-self: center;
  }

  .testimonial-author {
    font-size: var(--fs-medium);
    position: relative;
    z-index: 5;
    margin-top: 1rem;
  }

  .text-float--right {
    text-align: right;
    right: -2em;
  }

  .text-float--left {
    text-align: left;
    left: -2em;
  }

  .circle {
    position: absolute;
    bottom: -2rem;
    width: 6rem;
    height: 6rem;
    background-color: var(--clr-secondary-400);
    border-radius: 50%;
  }

  .circle--right {
    right: -3rem;
  }

  .circle--left {
    left: -3rem;
    bottom: -1.5rem;
  }
</style>
