---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import MainLayout from '../../layouts/MainLayout.astro';
import OrderButton from '../../components/OrderButton.astro';
import Gallery from '../../components/Gallery.astro';

export async function getStaticPaths() {
  const services = await getCollection('services');
  return services.map((service) => ({
    params: { service: service.slug },
    props: { service },
  }));
}

const { service } = Astro.props;
const { title, heroImageAlt, price, bottomContent, images } = service.data;
const heroImage =
  service.data.heroImage &&
  import(/* @vite-ignore */ `../${service.data.heroImage}`);
const { Content } = await service.render();
---

<MainLayout title={title}>
  <div class="flow">
    <div class=`flow ${heroImage ? 'grid' : ''}`>
      <div class="flow">
        <h1>{title}</h1>
        <div class="content-wrap">
          <Content />
        </div>
        <div class="cta-group">
          {
            price && (
              <p class="price">
                Cena od <strong>{price}</strong>
              </p>
            )
          }
          <OrderButton
            selectedService={service.slug}
            style={{ margin: '0.5rem auto' }}
          >
            rezervovat
          </OrderButton>
        </div>
      </div>
      {
        heroImage && (
          <Image
            src={heroImage}
            alt={heroImageAlt}
            class="content-img sh-top-small sh-right-small"
          />
        )
      }
    </div>
    {bottomContent && <p>{bottomContent}</p>}
    {images && <Gallery images={images} />}
  </div>
</MainLayout>

<style>
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .price {
    text-align: center;
  }

  .content-img {
    justify-self: center;
  }

  @media only screen and (max-width: 800px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
</style>
