---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import MainLayout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  const services = await getCollection('services');
  return services.map((service) => ({
    params: { service: service.slug },
    props: { service },
  }));
}

const { service } = Astro.props;
const { title, heroImageAlt } = service.data;
const heroImage = import(`../${service.data.heroImage}`);
const { Content } = await service.render();
---

<MainLayout title={title}>
  <div class="flow grid">
    <div class="content">
      <h1>{title}</h1>
      <Content />
    </div>
    <Image
      src={heroImage}
      alt={heroImageAlt}
      class="content-img sh-top-small sh-right-small"
    />
  </div>
</MainLayout>

<style>
  .grid {
  }
</style>
